.ready1 {
display: flex;
margin-top: 40px;
gap: 14px;
padding-bottom: 20px;
}

.ready2 {
    display: flex;
    gap: 14px;
    padding-bottom: 20px;
}
.ready3 {
    display: flex;
    gap: 14px;
    padding-bottom: 20px;
}
.ready4 {
    display: flex;
    gap: 14px;
    padding-bottom: 20px;
}
.ready5 {
    display: flex;
    gap: 14px;
    padding-bottom: 20px;
}


.img {
}
.place {
}
