// ===== GRID SETTINGS =====
.row {

    
    
    
    
    
    display: flex;
    flex-wrap: wrap;
    width: calc(100%+64px);
	gap: 26px;
}
.col-5 {
    width: 20%;
    padding: 32px;
    
    
}
.col-4 {
    width: 25%;
    
}
.col-3 {
    width: 33.33%;
    
}
.col-25 {
    width: 40%;
    
}
.col-2 {
    width: calc(50% - 26px);
    
}
.col-2m {
    width: 50%;
}
.col-23 {
    width: 66.66%;

    
}
.col-1 {
    width: 100%;
}
    