.btn-gold {
    border-radius: 5px;
border: 1px solid var(--primary, #ED9902);
background: var(--primary, #ED9902);
padding-top: -400px;
margin: 0;
padding: 13px 18px 13px 18px;
margin-top: 24px;

}
.message-gold {
    color: #FFF;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;


}

