body{
    background:var(--body-bg) ;
    overflow-x: hidden;
    
    
}



.container{
    max-width: $container;
    margin-inline:auto ;
    padding: 0 20px;

}

*, *::after, *::before{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    list-style: none(circle,square,upper-roman,lower-alpha);}


    img{
        max-width: 100%;
    }

    a{
        text-decoration: none;
    }

    li{
        list-style: none;
    }
